<div class="col-lg-10">
<h3>{{title}} </h3>
<div class="people" *ngIf="messages">
<!-- Listado -->
        <div *ngFor="let message of messages" class="item-user">
                <!-- *ngIf="message.emitter._id != identity._id" -->
                <div class="panel panel-default">
                        <div class="panel-body">
                        <!-- Imagen perfil -->
                                <div class="image-user pull-left">
                                        <a href="#">
                                                <img src="{{url + 'get-image-user/' + message.emitter.image}} " *ngIf="message.emitter.image">
                                                <img src="../../../assets/userDefault.png" *ngIf="!message.emitter.image">
                                        </a>
                                </div>
                        <!-- Detalle de usuario -->
                                <div class="user-name pull-left">
                                        <p class="name-user">
                                                <!-- <a [routerLink]="[ '/perfil', message.emitter._id ]">
                                                        {{message.emitter.name + ' ' + message.emitter.surname}}
                                                </a>
                                                &nbsp;&nbsp;-->
                                                <span>
                                                        Enviado por <a [routerLink]="[ '/perfil', message.emitter._id ]">
                                                        {{ (message.emitter.name + ' ' + message.emitter.surname)}}
                                                        </a>
                                                </span>
                                                &nbsp;&nbsp;
                                                <span class="date">
                                                        {{ (message.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo }}
                                                </span>
                                                
                                        </p>
                                        <p class="col-lg-12">
                                                {{message.text}}
                                        </p> 
                                </div>
                        </div>
                </div>
        </div>
        <!-- Paginacion  {{ (message.created_at | amFromUnix) | amDateFormat:'hh:mmA' }} -->
        <div>
                <ul class="pagination pull-right">
                        <li *ngIf="page > 1"><a [routerLink]="[ '/mensajes/recibidos', prev_page]">Anterior</a></li>
                        <li *ngIf="pages != page"><a [routerLink]="[ '/mensajes/recibidos', next_page]">Siguiente</a></li>
                </ul>
        </div>
</div>
</div>