<div class="col-lg-5">
  <h1 class="h1-strong">
    {{title}}
  </h1>
  <div class="alert alert-success" *ngIf="status == 'success'">
    Se ha actualizado los datos correctamente!
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    No se ha podido actualizar los datos!
  </div>
  <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
    <p>
      <label for="name">Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required>
      <span *ngIf="!name.value && name.touched">El nombre es obligatorio</span>
    </p>
    <p>
      <label for="surname">Apellidos</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required>
      <span *ngIf="!surname.value && surname.touched">Apellidos obligatorios</span>
    </p>
    <p class='input-group date' id='datetimepicker' >
      <label for="dp">Fecha de Nacimiento</label>
      <input type='text' name="dp" #dp="ngModel" [(ngModel)]="user.fecha" class="form-control" 
          onkeydown="return false" (click)="datePicker()" autocomplete="off" />
      <span *ngIf="!dp.valid && dp.touched" >La fecha es obligatoria</span>
  </p>
    <p>
      <label for="email">Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
      <span *ngIf="!email.value && email.touched">El email es obligatorio</span>
    </p>
  <div id="mosaico-image" *ngIf="user.image">
    <img src="{{url + 'get-image-user/'+ user.image}}">
  </div>
  <p>
    <label for="avatar">Avatar</label>
    <input type="file" name="avatar" (change)="fileChangeEvent($event)">
  </p>
    <input type="submit" value="Actualizar" class="btn btn-warning" [disabled]="!userEditForm.form.valid">
  </form>
</div>