<div class="navigation col-lg-12">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            <!-- -->
          </button>
          <a href="" class="navbar-brand"> {{title}} </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" *ngIf="identity">
         
        <li><a [routerLink]="[ '/home']" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-home"></span> Inicio </a></li>
        <li><a [routerLink]="[ '/timeline']" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-th-list"></span> Time Line </a></li>
        <li><a [routerLink]="[ '/gente']" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-user"></span> Personas </a></li>
        <li><a [routerLink]="[ '/mensajes']" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-envelope"></span> Mensajeria </a></li>
      </ul>
    
      <!-- -->
      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
        <li><a [routerLink]="[ '/login']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
        <li><a [routerLink]="[ '/registro']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-user"></span> Registro </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
          <!-- Imagen usuario -->
          <img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image">
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{identity.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/perfil', identity._id]">
                <span class="glyphicon glyphicon-user"></span>
                Mi Perfil
              </a>
            </li>
            <li>
              <a [routerLink]="[ '/misdatos']">
                <span class="glyphicon glyphicon-cog"></span>
                Mis datos
              </a>
            </li>
            <li>
            <a class="pointer" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                Cerrar cesion
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- -->

    </div>
  </nav>
</div>

<router-outlet></router-outlet>
<!-- div class="col-sm-3 col-sm-offset-4 frame" *ngIf="identity && !barraEstado">
    <div class="div-franja" (click)="ocultarChat($event)">
        <a id="borde-chat" >
          &nbsp;&nbsp;&nbsp; <span>{{identity.name + ' ' + identity.surname}}</span>
        </a>
    </div>
    <ul class="ul-chat"></ul>
    <div class="contenedor">
        <div class="msj-rta macro">                        
            <div class="text text-r" style="background:whitesmoke !important">
                <input class="mytext" placeholder="Type a message"/>
            </div> 

        </div>
        <div style="padding:10px;" class="div-glyphicon">
            <span class="glyphicon glyphicon-share-alt"></span>
        </div>                
    </div>
</div>
<div class=" frame2" *ngIf="identity && barraEstado">
    <div class="div-franja" (click)="mostrarChat($event)" *ngIf="barraEstado">
        <a id="borde-chat" >
          &nbsp;&nbsp;&nbsp; <span>{{identity.name + ' ' + identity.surname}}</span>
        </a>
  </div>
</div>
-->