/* html, body{
    min-height: 100%;
    z-index: -1;

}*/


div{
    
    background-image: url('../../../assets/bgHome.jpg');
    min-height: 100%;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 750px;
} 