<div  id="bg">
  
  <!-- <img src="../../../assets/bgHome.jpg" class="img-responsive">
    <div class="jumbotron">
      <h1>{{title}} </h1>
      <p>Publicaciones de amigos</p>
      <p>
        <a href="#" class="btn btn-success btn-lg" role="button">
          Perfil
        </a>
        <a href="#" class="btn btn-primary btn-lg" role="button">
          Time Line
        </a>
        <a href="#" class="btn btn-default btn-lg" role="button">
          Personas
        </a>
      </p>
    </div>-->
  </div>
