/* You can add global styles to this file, and also import other style files */
/* General */

.h1-strong {
    font-size: 35px;
    font-weight: bold;
    /*margin-left: 12px;*/
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.active {
    background: #2224c4; /* #9c1111*/
}
.pointer {
    cursor: pointer;
}
/* Cabeceras */

.navigation{
    padding: 0px !important;
}
.navigation .navbar {
    border-radius: 0px !important;
    background: #2224c4 !important;/*#bd2020*/
    border: none;
}
.navigation .avatar  {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;
    z-index: 1;
}
.navigation .avatar img {
    height: auto;
    width: 36px;
}
#mosaico-image img{
    height: 225px;
    width: 225px;
}
.navigation .navbar *{
    color: white !important;
}
.navigation .navbar .dropdown-menu *{
    color: black !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
    background: #dddd !important; /* cc1717*/
}

.navigation .navbar a:hover{
    background: rgb(165, 156, 204) !important;
}
.navigation .navbar .dropdown-menu a:hover {
    background: #eee !important;
}
.jumbotron {
    z-index: -2;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}
.jumbotron a{
    margin: 10px;
}
/* home */
/*
body {
    background-image: url('./assets/bgHome.jpg');

    background-position: center center;
    background-repeat:  no-repeat !important;
    background-attachment: fixed !important;
    background-size:  cover !important;
    height: 100%;
}*/
/* .user-image-for-edit img {
    height: 60px;
}*/
/* GENTE */
.gente {
    float: right !important;
    width: 65% !important; /* borrar classe*/
    right: 2%;
}
.people {
    min-height: 500px;
}
.item-user .image-user,
.item-publication .image-user {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
}
.item-user .image-user img,
.item-publication .image-user img {
    /*height: auto;
    width: 57%;
    margin: auto;
    */
    width: 100%;
}
.item-user .user-name,
.item-publication .user-name  {
    margin-top: 25px;
}

.item-user .user-name .name-user a{
    color: #444;
    font-weight: bold;
}

/* SIDEBAR */
.sidebar-32 {
    width: 28% !important; /* 32 */
    padding: 0px !important;
    left: 18px; /**/
}
#user-card {
    left: 2%;
    top: 0%;
    padding: 25px;
}
#user-card, #new-publication {
    /* retocar con gente */
    padding: 25px;
    width: 30%;

}
#new-publication {
    top: -5px;
    left: 32px;
    width: 30%;
}
#user-card .username {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;   
}
#new-publication {
    padding: 18px;
    padding-left: 8px;
}
#user-card .avatar {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
    /*margin-bottom: 12px;*/
}
#user-card .avatar img {
    width: 118%;
    margin-left: 7px;
}
#user-card .name-surname {
    font-weight: 300;
    font-size: 17px;
}
#user-card .name-surname a {
    color: #555;
}
#user-card .stats {
    border-top: 1px solid #eee;
    margin-top: 10px;
}
#user-card .stats a:hover {
    text-decoration: none;
}
#user-card .stats a:hover .number-stats {
    color: #cc1717;
}
#user-card .label-stats,
#user-card .number-stats {
    display: block;
    text-align: center;
    transition: all 300ms;
}
#user-card .label-stats {
    font-weight: bold;
    color: #555;
}
#user-card .number-stats {
    font-weight: bold;
    color: #555;
}
#user-card .following-data {
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
    border-right: 2px solid #ccc;
}
#user-card .following-data:first-child {
    padding-left: 6px;
}
#user-card .following-data:last-child {
    border: none;
}
textarea {
    resize: none;
    width: 100% !important;
    margin-left: 27px !important;

 }
/* publicaciones */

/* perfil */
#data-profile {
    min-height: 500px;
    text-align: left;
}
#data-profile .user-name {
    margin-top: 15px;
}
#data-profile .user-name .label {
    margin-bottom: 15px;
}
#data-profile .avatar {
    width: 185px;
    height: 185px;
    border-radius: 400px;
    overflow: hidden;
    margin-right: 15px;
}
#data-profile .avatar img {
    width: 100%;
}
#data-profile .user-name .name {
    font-size: 23px;
    font-weight: bold;
    color: #555;
}
#data-profile .stats {
    border-left: 3px solid #5555;
    margin-left: 20px;
    padding-left: 20px;
    height: 180px;
}
#data-profile .stats a {
    font-size: 17px;
    line-height: 35px;
    color: #555;
}

#data-profile .publications {
    margin-top: 40px;
}

/* publicaciones */
#publications .pub-image  {
    left: 8%;
    width: 96%;
    height: 477px;
    margin-top: 19px;
}
#publications .pub-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#publications .publication-content {
    margin-left: 5px;
    width: 84%;
}
/* ********************************************************************************** */
/* Chat */
.div-franja {
    /*
    padding: 10px;
    background: whitesmoke;*/
    position: relative;
    /*width: 240px;
    height:360px;
    border-width: 1px;
    border-style: solid;*/
    margin-left: -15px;
    margin-right:-9px;
    background: whitesmoke;
    border-bottom:0;
}
#borde-chat,
#borde-chat:hover {
    /**/
    z-index:2;
    height:30px;
    line-height: 30px;
    font-size:0.9em;
    padding: 0 10px;
    
    
    color: inherit;
    
    font-weight: 400;
    display: block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
.hide_wrap_box {
    height:450px;
    bottom:0;
}
.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}        
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;margin-left: 17px;
}
.msj-rta{
    float:right;background:whitesmoke;margin-bottom: 2%;
}
.msj{
    float:left;background:white;
}
.contenedor {
    right: 2px;
}
.col-sm-3.col-sm-offset-4.frame {
    bottom: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    margin: 0;
}

.frame{
    z-index: 1;
    background:#e0e0de;
    height:450px; 
    overflow:hidden;
    padding:0px;
    padding-right: 10px !important;
    margin: 0px !important;
    /*bottom: 0;
    right: 1;
    z-index: 1;
    position: fixed;*/
}
.frame2 {
    bottom: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    margin: 0;
    width: 250px;
}


.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}
.div-glyphicon > span{
    background: whitesmoke;padding: 10px;font-size: 21px;border-radius: 50%;
}
/*body > div > div > div:nth-child(2) > span{
    background: whitesmoke;padding: 10px;font-size: 21px;border-radius: 50%;
}*/
body > div > div > div.msj-rta.macro{
    margin:auto;margin-left:1%;
}
.ul-chat {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  
input:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari*/
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
} 
/* ********************************************************************************** */
