#timelineContent {
    margin-top: 60px;
    width: 65%;
}

/* timeline */
#publications {
    min-height: 500px;
}
#publications .user-name{
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: #444;
}

#publications .date {
    color: gray;
}
#publications .publication-text {
    text-align: justify;
    width: 86%;
}
.btnRefresh {
    position: absolute;
    top: 26px;
    left: 211px;
}