
<div id="publications">
    <div *ngFor="let publication of publications" class="item-publication">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="image-user pull-left">
                    <a href="#">
                        <img src="{{url + 'get-image-user/' + publication.user.image}} " *ngIf="publication.user.image">
                        <img src="../../../assets/userDefault.png" *ngIf="!publication.user.image">
                    </a>
                </div>
                <div>
                    <span class="user-name">
                        {{publication.user.name + ' ' + publication.user.surname}}
                    </span>
                    &nbsp;&nbsp;      
                    <span class="date">
                        {{ (publication.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo}}
                    </span>
                    <!--<a href="#myModal{{publication.user._id}}" role="button" class="pull-right btn btn-largeg btn-danger" data-toggle="modal"
                        *ngIf="publication.user._id == identity._id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                         Modal HTML 
                        <div id="myModal{{publication.user._id}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">¿Estás seguro de querer borrar esta publicación?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Una vez borrada esta publicación, no se podra recuperar</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" 
                                        (click)="deletePublication(publication.user._id)"
                                            data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                </div>
                
                <h4 class="publication-text pull-left" *ngIf="publication.user._id">
                    {{publication.text}}
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 text-center" *ngIf="publications && publications.length">
    <p>
        <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
            Ver más
        </button>
    </p>
</div>
