
<div class="col-lg-5">
    <h1 class="h1-strong">{{title}} </h1>
    <div class="alert alert-success" *ngIf="status== 'success'">
        Registro completado! <a [routerLink]="[ '/login']">Identificate aquí</a>
    </div>
    <div class="alert alert-danger" *ngIf="status== 'error'">
        Registro incompleto, email en uso, intentalo con otros datos!
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name"
            class="form-control" required>
            <span *ngIf="!name.valid && name.touched" >El nombre es obligatorio</span>
        </p>
        <p>
            <label for="surname">Apellidos</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname"
            class="form-control" required>
            <span *ngIf="!surname.valid && surname.touched" >Los apellidos son obligatorios</span>
        </p>
        <p class='input-group date' id='datetimepicker' >
            <label for="dp">Fecha de Nacimiento</label>
            <!--<input type="date" name="dp" #dp="ngModel" [(ngModel)]="user.nick"
            class="form-control" required>
            <span *ngIf="!dp.valid && dp.touched" >El nick es obligatorio</span>  -->      
            <input type='text' name="dp" #dp="ngModel" [(ngModel)]="user.nick" class="form-control" 
                onkeydown="return false" (click)="datePicker()" autocomplete="off" />
            <span *ngIf="!dp.valid && dp.touched" >La fecha es obligatoria</span>
        </p>
        <p>
            <label for="email">Email</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
            class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <span *ngIf="!email.valid && email.touched" >Email incorrecto</span>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
            class="form-control" required>
            <span *ngIf="!password.valid && password.touched" >La contraseña es obligatoria</span>
        </p>
        <input type="submit" value="{{title}}" class="btn-btn-success" [disabled]="!registerForm.form.valid">
    </form>
</div>
