<div class="col-lg-4">
    <h3>{{title}} </h3>
    <div class="sidebar-admin">
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="[ 'enviar']">Enviar Mensaje</a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="[ 'recibidos']">Mensajes recibidos</a>            
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="[ 'enviados']">Mensajes enviados</a>
            </li>
            <li role="presentation">
                <a [routerLink]="[ '/home']">Pagina principal</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-lg-8">
    <!-- Componentes -->
    <router-outlet></router-outlet>
</div>