.sidebar-32 {
    /*margin-top: 60px;
    
    left: 18px;
    width: 28%;
*/
    position: fixed;
    left: 66%;
}
#user-card {
    /*position: fixed;
    left: 18px;
    width: 28%;*/
    width: 100%;
    /* height: 79%; */
    top: 12.5%;
    position: relative;
}
#sidebarContainer {
    /*margin-top: 60px;
    
    position: relative;
    left: 18px;
    width: 28%;*/
    margin-left:auto;
    margin-right:auto;
    margin-top: 60px;
    /*
    
    position: fixed;
    left: 66%;
    width: 28%;
    height: 755px;*/

}
#new-publication {
    padding: 18px;
    padding-left: 8px;
    position: relative;
    top: 39%;
    left: 10px;
    width: 100%;
}