<div id="sidebarContainer" class="col-lg-4">
<div class="col-lg-4 sidebar-32">
    <h1 class="h1-strong">Mis datos</h1>
</div>
<div id="user-card" class="col-lg-4 panel panel-default pull-left">
  <div class="avatar pull-left">
    <img src="{{ url + 'get-image-user/' + identity.image }} " *ngIf="identity.name" >
    <img src="../../../assets/userDefault.png" *ngIf="!identity.name" >

  </div>
  <div class="name-surname pull-left">
    <a [routerLink]="[ '/perfil', identity._id ]" class="username">
      {{identity.name + ' ' + identity.surname}}
    </a>
    
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
  <div class="stats" *ngIf="stats">
    <div class="following-data">
      <a [routerLink]="[ '/siguiendo', identity._id, 1]">
        <span class="label-stats">
          Siguiendo
        </span>
        <span class="number-stats">
          {{stats.following}}
        </span>
      </a>
    </div>
    <div class="following-data">
      <a [routerLink]="[ '/seguidores', identity._id, 1]">
        <span class="label-stats">
          Seguidores
        </span>
        <span class="number-stats">
          {{stats.followed}}
        </span>
      </a>
    </div>  
    <div class="following-data">
      <a [routerLink]="[ '/perfil', identity._id ]">
        <span class="label-stats">
          Publicaciones
        </span>
        <span class="number-stats">
          {{stats.publications}}
        </span>
      </a>
    </div>    
  </div>

</div>

<!-- Form de publicaciones -->
<div id="new-publication" class="col-lg-4 pull-left panel panel-default">
  <div class="alert alert-success" *ngIf="status == 'success'">
    Publicada correctamente
  </div>
  <div class="alert alert-danger" *ngIf="status== 'error'">
      Publicada no enviada
    </div>
  <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event)" class="col-lg-10">
    <p> <!--  sendPublication($event) -->
      <label for="">¿Qué estás pensando?</label>
      <textarea rows="5" name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required>

      </textarea>
      <span *ngIf="!text.valid">El texto es obligatorio</span>
    </p>
    <p>
      <label for="">Sube tu Foto</label>
      <input id="inputFile" type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
    </p>
    <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid">
  </form>
</div>
</div>