<div class="col-lg-8 gente">
  <h1 class="h1-strong">{{title}} </h1>
  <div class="people">
    <!-- Listado -->
    <div *ngFor="let user of users"  class="item-user"> 
      <div class="panel panel-default" *ngIf="user._id != identity._id">
        <div class="panel-body">
          <!-- Imagen perfil -->
          <div class="image-user pull-left">
            <a href="#">
              <img src="{{url + 'get-image-user/' + user.image}} " *ngIf="user.image">
              <img src="../../../assets/userDefault.png" *ngIf="!user.image">
            </a>
          </div>
          <!-- Detalle de usuario -->
          <div class="user-name pull-left">
            <p class="name-user">
            <a [routerLink]="[ '/perfil', user._id ]">
              {{user.name + ' ' + user.surname}}
            </a>
            </p>
          </div>
        <!-- SEGUIR Y DEJAR DE SEGUIR -->
        <div class="pull-right" *ngIf="user._id != identity._id">
          <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0"
          (click)="followUser(user._id)">
            <span class="glyphicon glyphicon-plus-sign"></span> Agregar</button>
          <button class="btn btn-primary" *ngIf="follows.indexOf(user._id) >= 0"
            (mouseenter)="mouseEnter(user._id)"
            (mouseleave)="mouseLeave(user._id)"
            (click)="unFollowuser(user._id)"
            [class.btn-danger]="user._id == followUserOver">
            <span *ngIf="user._id == followUserOver; else following">
                <span class="glyphicon glyphicon-minus-sign"></span> Dejar de seguir
            </span>
            <ng-template #following>
                <span class="glyphicon glyphicon-ok-sign"></span> Amigo
            </ng-template>
            <ng-template #following1>
                <span class="glyphicon glyphicon-time"></span> Solicitud Pendiente
            </ng-template>
             
            
          </button> <!-- --> 
          
          <!-- 1 
          <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0"
          (click)="followUser(user._id)">
            <span class="glyphicon glyphicon-plus-sign"></span> Agregar</button>
          <button class="btn btn-primary" *ngIf="follows.indexOf(user._id) >= 0"
            (mouseenter)="mouseEnter(user._id)"
            (mouseleave)="mouseLeave(user._id)"
            (click)="unFollowuser(user._id)"
            [class.btn-danger]="user._id == followUserOver && requestFriendstatus == 'accepted'
                                && requestFriendfollowed == user._id && requestFrienduser == identity._id"
            >
            <span *ngIf="user._id == followUserOver && requestFriendstatus == 'accepted'
            && requestFriendfollowed == user._id && requestFrienduser == identity._id; else following">
                <span class="glyphicon glyphicon-minus-sign"></span> Dejar de seguir
            </span>
            
            <ng-template #following>
                <span class="glyphicon glyphicon-ok-sign"></span> Amigo
            </ng-template>
               
          </button>
          <button class="btn btn-warning" *ngIf="follows.indexOf(user._id) >= 0 && requestFriendstatus == 'pending'
              && requestFriendfollowed == user._id && requestFrienduser == identity._id"
              (mouseenter)="mouseEnter(user._id)"
              (mouseleave)="mouseLeave(user._id)"
              [class.btn-danger]="user._id == followUserOver && requestFriendstatus == 'pending'
                                && requestFriendfollowed == user._id && requestFrienduser == identity._id"
              >
              <span *ngIf="user._id == followUserOver">
                  <span class="glyphicon glyphicon-minus-sign"></span> Solicitud Pendiente
              </span>
               
            </button>
           2 -->
        </div>
        </div>
      </div>
    </div>
    <!-- Paginacion -->
    <ul class="pagination pull-right">
      <li *ngIf="page > 1"><a [routerLink]="[ '/gente', prev_page]">Anterior</a></li>
      <li *ngIf="pages != page"><a [routerLink]="[ '/gente', next_page]">Siguiente</a></li>

    </ul>
  </div>
</div>
<sidebar></sidebar>
<div class="clearfix"></div>