<div class="col-lg-5  bg">
  <h1 class="h1-strong">{{title}} </h1>
  <div class="alert alert-success" *ngIf="status== 'success'">
      Bienvenido!
  </div>
  <div class="alert alert-danger" *ngIf="status== 'error'">
      Credenciales incorrectas!
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
    <p>
      <label for="correo">Correo Electronico</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
      class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <span *ngIf="!email.valid && email.touched">Email incorrecto</span>
    </p>
    <p>
        <label for="password">Contraseña</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
        class="form-control" required>
        <span *ngIf="!password.valid && password.touched">Contraseña requerida</span>
      </p>
    <input type="submit" value="Entrar" class="btn btn-success" [disabled]="!loginForm.valid" />
  </form>
</div>